
.row
  .col
    %h3 Tiendas

  .col
    = link_to 'Añadir Tienda', new_shop_path, :class => "button btn btn-primary btn-sm float-right"

%hr

%table.table.table-responsive
  %thead.thead-inverse
    %tr
      %th Titulo
      %th Dir1
      %th Dir2
      %th Dir3
      %th Dir4
      %th{colspan: "1"}
  %tbody
    - @shops.each do |shop|
      %tr
        %td= link_to shop.titulo, shop
        %td= shop.dir1
        %td= shop.dir2
        %td= shop.dir3
        %td= shop.dir4
        %td= shop.company.titulo

%br/
= link_to 'New Shop', new_shop_path
