<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @shop.titulo %>
</p>

<p>
  <strong>Dir1:</strong>
  <%= @shop.dir1 %>
</p>

<p>
  <strong>Dir2:</strong>
  <%= @shop.dir2 %>
</p>

<p>
  <strong>Dir3:</strong>
  <%= @shop.dir3 %>
</p>

<p>
  <strong>Dir4:</strong>
  <%= @shop.dir4 %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
