.row
  .col-sm-12
    %p
      %h4
        = @shop.titulo
        %br
        %small.text-muted
          = @shop.company.titulo
  .col
    %a.btn.btn-outline-primary{:href => edit_shop_path(@shop)} Editar

    = link_to 'Eliminar', @shop, method: :delete, data: { confirm: 'Estas seguro? Esto es irreversible' }, :class => "button btn btn-outline-danger"
  -# .col
    = link_to 'volver', shops_path, :class => "button btn btn-outline-secondary btn-sm"

%hr

-if @shop.dir1.present?
  %p
    = @shop.dir1

-if @shop.dir2.present?
  %p
    = @shop.dir2

-if @shop.dir3.present?
  %p
    = @shop.dir3

-if @shop.dir3.present?
  %p
    = @shop.dir3


-# .card
-#   .card-body
-#
-#     %h4.card-title
-#       = @shop.titulo
-#
-#
-#   .card-footer



%br

%h5 Eventos relacionados a #{@shop.titulo}
%table.table.table-responsive
  %thead.thead-inverse
    %tr
      %th.col-md-2 Titulo
      %th.col-md-5 Descripcion
      %th.col-auto Fecha contacto
      -# %th.col-auto Nombre contacto
      -# %th.col-auto Numero contacto
      %th.col-auto Estado


  %tbody
    - @eventosRelacionados.each do |event|
      %tr
        %td= link_to event.titulo, event
        %td= truncate(event.descripcion, length:75, separator: ' ')
        %td= event.fecha_contacto
        -# %td= event.nombre_contacto
        -# %td= event.numero_contacto
        %td= event.state.titulo

= link_to 'Edit', edit_shop_path(@shop)
|
= link_to 'Back', shops_path
