.card
  .card-body

    %h5.card-title
      = @shop.titulo
    %p
      %strong Dir1:
      = @shop.dir1
    %p
      %strong Dir2:
      = @shop.dir2
    %p
      %strong Dir3:
      = @shop.dir3
    %p
      %strong Dir4:
      = @shop.dir4

    .card-footer
      %a.btn.btn-primary.btn-sm{:href => edit_shop_path(@shop)} Editar
      = link_to 'Eliminar', @shop, method: :delete, data: { confirm: 'Estas seguro? Esto es irreversible' }, :class => "button btn btn-danger btn-sm"
      = link_to 'volver', shops_path, :class => "button btn btn-link btn-sm"



%br

%h4 Eventos relacionados a #{@shop.titulo}
%table.table.table-responsive
  %thead.thead-inverse
    %tr
      %th.col-md-2 Titulo
      %th.col-md-5 Descripcion
      %th.col-auto Fecha contacto
      %th.col-auto Nombre contacto
      %th.col-auto Numero contacto
      %th.col-auto Estado


  %tbody
    - @eventosRelacionados.each do |event|
      %tr
        %td= link_to event.titulo, event
        %td= truncate(event.descripcion, length:150, separator: ' ')
        %td= event.fecha_contacto
        %td= event.nombre_contacto
        %td= event.numero_contacto
        %td= event.state.titulo

= link_to 'Edit', edit_shop_path(@shop)
|
= link_to 'Back', shops_path
