%p#notice= notice
%h1 States
%table
  %thead
    %tr
      %th Titulo
      %th{colspan: "3"}
  %tbody
    - @states.each do |state|
      %tr
        %td= state.titulo
        %td= link_to 'Show', state
        %td= link_to 'Edit', edit_state_path(state)
        %td= link_to 'Destroy', state, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New State', new_state_path
