.alert.alert-primary{:role => "alert"}
  Por hacer
  %ul
    %li Añadir comentarios a eventos
    %li Añadir "creado por" a los eventos
    %li Añadir un "log" a los eventos para ver quien cambio el estado por ultima vez
    %li Usar https://select2.org/ en el selectbox de los eventos -> https://github.com/argerim/select2-rails

.row
  .col-sm-6.col-md-6
    %h3 Eventos
    %br
  .col-sm-6.col-md-6
    = link_to 'Crear Evento', new_event_path, :class => "button btn btn-primary btn-sm float-md-right"


%br


%ul.nav.nav-tabs.nav-fill.flex-sm-column.flex-md-row
  %li.nav-item
    %a.nav-link{:href => "/events", :class => current_class?('todos')} Mostrar Todos

  %li.nav-item
    %a.nav-link{:href => "?status=nuevos", :class => current_class?('nuevos')} Nuevos (#{@newCount})

  %li.nav-item
    %a.nav-link{:href => "?status=penPres", :class => current_class?('penPres')} Pen. Presupuesto (#{@e2Count})

  %li.nav-item
    %a.nav-link{:href => "?status=presAcpt", :class => current_class?('presAcpt')} Presupuesto Aceptado (#{@e3Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penMat", :class => current_class?('penMat')} Pen. Material (#{@e4Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penFecha", :class => current_class?('penFecha')} Pen. Fecha Install (#{@e5Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penSAT", :class => current_class?('penSAT')} Pen. SAT (#{@e6Count})

  %li.nav-item
    %a.nav-link{:href => "?status=completados", :class => current_class?('completados')} Facturados (#{@e7Count})

%br

%table.table.table-responsive
  %thead.thead-inverse
    %tr
      %th.col-md-2 Titulo
      %th.col-md-5 Descripcion
      %th.col-auto Fecha contacto
      %th.col-auto Nombre contacto
      %th.col-auto Numero contacto
      %th.col-auto Tienda
      %th.col-auto Tipo
      -# %th Estado
  %tbody
    - @render.each do |event|
      %tr{class: event.state.table_class}
        %td= link_to event.titulo, event
        %td= event.descripcion
        %td= event.fecha_contacto
        %td= event.nombre_contacto
        %td= event.numero_contacto
        %td= event.shop.titulo
        %td= event.type.titulo
        -# %td= event.state.titulo

%br/

#{paginate @render, theme: 'twitter-bootstrap-4'}
