
.row
  .col
    %h3 Eventos
  .col
    = link_to 'Crear Evento', new_event_path, :class => "button btn btn-primary btn-sm float-right"


%hr


%ul.nav.nav-tabs.nav-fill.flex-sm-column.flex-md-row.d-none.d-none.d-sm-flex
  %li.nav-item
    %a.nav-link{:href => "/events", :class => current_class?('todos')} Mostrar Todos

  %li.nav-item
    %a.nav-link{:href => "?status=nuevos", :class => current_class?('nuevos')} Nuevos (#{@newCount})

  %li.nav-item
    %a.nav-link{:href => "?status=penPres", :class => current_class?('penPres')} Pen. Presupuesto (#{@e2Count})

  %li.nav-item
    %a.nav-link{:href => "?status=presAcpt", :class => current_class?('presAcpt')} Presupuesto Aceptado (#{@e3Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penMat", :class => current_class?('penMat')} Pen. Material (#{@e4Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penFecha", :class => current_class?('penFecha')} Pen. Fecha Install (#{@e5Count})

  %li.nav-item
    %a.nav-link{:href => "?status=penSAT", :class => current_class?('penSAT')} Pen. SAT (#{@e6Count})

  %li.nav-item
    %a.nav-link{:href => "?status=completados", :class => current_class?('completados')} Facturados (#{@e7Count})

.dropdown.show.d-block.d-sm-none
  %a#dropdownMenuLink.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
    Filtrar: #{@dropdownTexto}
  .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
    %a.dropdown-item{:href => "/events", :class => current_class?('todos')} Mostrar Todos

    -@estados.each do |estado|


      %a.dropdown-item{:href => "?status=#{estado.id}", :class => current_class?("#{estado.id}")}
        = estado.titulo

    -# %a.dropdown-item{:href => "?status=penPres", :class => current_class?('penPres')} Pen. Presupuesto (#{@e2Count})
    -#
    -# %a.dropdown-item{:href => "?status=presAcpt", :class => current_class?('presAcpt')} Presupuesto Aceptado (#{@e3Count})
    -#
    -# %a.dropdown-item{:href => "?status=penMat", :class => current_class?('penMat')} Pen. Material (#{@e4Count})
    -#
    -# %a.dropdown-item{:href => "?status=penFecha", :class => current_class?('penFecha')} Pen. Fecha Install (#{@e5Count})
    -#
    -# %a.dropdown-item{:href => "?status=penSAT", :class => current_class?('penSAT')} Pen. SAT (#{@e6Count})
    -#
    -# %a.dropdown-item{:href => "?status=completados", :class => current_class?('completados')} Facturados (#{@e7Count})

%br

-#   %tbody
-#     - @render.each do |event|
-#       %tr{class: event.state.table_class}
-#         %td= link_to event.titulo, event
-#         %td= truncate(event.descripcion, length:350, separator: ' ')
-#         %td= event.fecha_contacto
-#         %td= event.nombre_contacto
-#         %td= event.numero_contacto
-#         %td= event.shop.titulo
-#         %td= event.type.titulo
-#         -# %td= event.state.titulo
- @render.each do |event|
  .card
    .card-body
      %h4.card-title
        = link_to event.titulo, event
      %h6.card-subtitle.mb-2.text-muted
        = event.shop.titulo
      -# .collapse{ :id => "descripcion-#{event.id}"}
      %p.card-text
        .collapse{ :id => "descripcion-#{event.id}"}
          = event.descripcion

      %a.btn.btn-outline-primary{:href => "#descripcion-#{event.id}", "data-target" => "#descripcion-#{event.id}", "data-toggle" => "collapse"}
        Ver más

      = link_to "Ver evento", event, :class => "btn btn-outline-secondary"



  %br





#{paginate @render, theme: 'twitter-bootstrap-4'}
