
.row
  .col-sm-12
    %p
      %h3
        Eventos
        %br
        %small.text-muted
          = @dropdownTexto
  .col
    .dropdown.show
      %a#dropdownMenuLink.btn.btn-outline-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"}
        Filtrar
      .dropdown-menu{"aria-labelledby" => "dropdownMenuLink"}
        %a.dropdown-item{:href => "/events", :class => current_class?('todos')} Mostrar Todos

        -@estados.each do |estado|

          %a.dropdown-item{:href => "?status=#{estado.id}", :class => current_class?("#{estado.id}")}
            = estado.titulo

  .col
    = link_to 'Crear Evento', new_event_path, :class => "button btn btn-primary float-right"

%hr


-#   %tbody
-#     - @render.each do |event|
-#       %tr{class: event.state.table_class}
-#         %td= link_to event.titulo, event
-#         %td= truncate(event.descripcion, length:350, separator: ' ')
-#         %td= event.fecha_contacto
-#         %td= event.nombre_contacto
-#         %td= event.numero_contacto
-#         %td= event.shop.titulo
-#         %td= event.type.titulo
-#         -# %td= event.state.titulo
- if @render.blank?
  %h6 No hay eventos en este estado.

- @render.each do |event|
  .card
    .card-body
      %h4.card-title
        = link_to event.titulo, event
      %h6.card-subtitle.mb-2.text-muted
        = event.shop.titulo
      -# .collapse{ :id => "descripcion-#{event.id}"}
      %p.card-text
        .collapse{ :id => "descripcion-#{event.id}"}
          = event.descripcion

      %a.btn.btn-outline-primary{:href => "#descripcion-#{event.id}", "data-target" => "#descripcion-#{event.id}", "data-toggle" => "collapse"}
        Ver más

      = link_to "Ver evento", event, :class => "btn btn-outline-secondary"



  %br





#{paginate @render, theme: 'twitter-bootstrap-4'}
