.row
  .col-md-12
    = link_to 'Volver', events_path, :class => "button btn btn-link"

.row
  .col-md-12
    .card
      .card-body
        %h5.card-title
          = @event.titulo
        %p.card-text
        = simple_format(@event.descripcion)

      .card-footer
        %a.btn.btn-primary.btn-sm{:href => edit_event_path(@event)} Editar
        %a.button.btn.btn-primary.btn-sm{"aria-controls" => "collapseStatusChange", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#collapseExample"}
          Cambiar Estado

#collapseExample.collapse
  %br
  .card.card-body
    = render 'update_status_form', event: @event

%br
.row
  .col-sm-6
    .card
      .card-body
        %h5.card-title Detalles
        %p Tipo de evento #{@event.type.titulo}
        %p Estado "#{@event.state.titulo}"
        %p Creado por #{@event.user.email}
        %p Creado el #{@event.created_at}
  .col-sm-6
    .card
      .card-body
        %h5.card-title Datos Contacto
        %p.card-text
          Contacto: #{@event.nombre_contacto}
          |
          Fecha #{@event.fecha_contacto}
          |
          #{@event.numero_contacto}
        %p.card-text
          = link_to @event.shop.titulo, @event.shop
          = @event.shop.dir1

%br

%h5 Comentarios
= render @event.comments

%br
%h5 Añade un comentario
= render 'comments/form'

%br

= link_to 'Eliminar', @event, method: :delete, data: { confirm: 'Estas seguro? Esto es irreversible' }, :class => "button btn btn-danger btn-sm"
