.row
  .col-md-12
    = link_to '< Volver a eventos', events_path, :class => "button btn btn-link"
-# %br
.row
  .col-md-12
    .card
      .card-body
        %h4.card-title
          = @event.titulo
        %h5.card-subtitle
          = link_to @event.shop.titulo, @event.shop
        %p.card-text
        = simple_format(@event.descripcion)

%br

.row
  .col
    %a.btn.btn-outline-secondary.btn-sm{:href => edit_event_path(@event)} Editar
    %a.button.btn.btn-outline-secondary.btn-sm{"aria-controls" => "collapseStatusChange", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#toggleCambioEstado"}
      Cambiar estado
    %a.button.btn.btn-outline-secondary.btn-sm{"aria-controls" => "collapseStatusChange", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#toggleContacto"}
      Ver contacto

#toggleCambioEstado.collapse
  %br
  .card.card-body
    = render 'update_status_form', event: @event

%br
#toggleContacto.collapse.row
  -# .col-sm-6
    .card
      .card-body
        %h5.card-title Detalles
        %p Tipo de evento #{@event.type.titulo}
        %p Estado "#{@event.state.titulo}"
        %p Creado por #{@event.user.email}
        %p Creado el #{@event.created_at}
  .col-sm-12
    .card
      .card-body
        %h5.card-title Datos Contacto
        %p.card-text
          Contacto: #{@event.nombre_contacto}
          |
          Fecha #{@event.fecha_contacto}
          |
          #{@event.numero_contacto}
        %p.card-text
          = link_to @event.shop.titulo, @event.shop
          = @event.shop.dir1

%br

%h5 Comentarios
= render @event.comments

%br
%h5 Añade un comentario
= render 'comments/form'

%br

= link_to 'Eliminar', @event, method: :delete, data: { confirm: 'Estas seguro? Esto es irreversible' }, :class => "button btn btn-danger btn-sm"
