<!DOCTYPE html>
<html>
  <head>
    <title>Bmasb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Eventos", events_path %>
    <%= link_to "Tiendas", shops_path %>
    <%= link_to "Compañias", companies_path %>
    <%= yield %>
  </body>
</html>
